* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.navbar {
  background: #6a0891;
  color: #fafafa;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 3rem;
  text-transform: uppercase;
}

.container {
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
}
.container h2,
.container p,
.container ul li {
  margin-top: 3rem;
}
